<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>784568217598-jbs811590k2n5icdstgln3infrrgkelq.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.784568217598-jbs811590k2n5icdstgln3infrrgkelq</string>
		<key>API_KEY</key>
		<string>ADD_YOUR_GOOGLE_KEY_HERE</string>
		<key>GCM_SENDER_ID</key>
		<string>784568217598</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.todo</string>
		<key>PROJECT_ID</key>
		<string>todo-ccd0f</string>
		<key>STORAGE_BUCKET</key>
		<string>todo-ccd0f.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:784568217598:ios:ca27e0a6f986e5af8b5aaf</string>
		<key>DATABASE_URL</key>
		<string>https://todo-ccd0f.firebaseio.com</string>
	</dict>
</plist>